@model royectoInmobiliaria.net_MVC_.Models.Pago


@{
    ViewData["Title"] = "Crear";
    var Inmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
    var Contratos = (IList<Contrato>)ViewBag.Contratos;
    var InmuebleAlquilado = ViewBag.Inmueble;
    var ContratoAlquilado = ViewBag.Contrato;
}

<h1>Crear</h1>

<h4>Pago para el inmueble @InmuebleAlquilado.Direccion</h4>
<hr />
<div class="row">
    <div class="col-md-4">
    <form asp-action="Crear">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <input asp-for="PagoId" type="hidden" class="form-control" />
            <span asp-validation-for="PagoId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Precio" class="control-label"></label>
            <input asp-for="Precio" class="form-control" value="@InmuebleAlquilado.Precio" readonly />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Fecha" class="control-label"></label>
            <input asp-for="Fecha" type="date" class="form-control" id="fecha"/>
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="nro_pago" class="control-label"></label>
            <input asp-for="nro_pago" class="form-control" />
            <span asp-validation-for="nro_pago" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input asp-for="ContratoId" type="hidden" class="form-control" value="@ContratoAlquilado.ContratoId" />
            <input asp-for="InmuebleId" type="hidden" class="form-control" value="@InmuebleAlquilado.InmuebleId" />
        </div>
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
    </form>
</div>

</div>


<script>
    var fechaDeHoy = new Date().toISOString().split('T')[0];
    document.getElementById("fecha").value = fechaDeHoy;
</script>