@model royectoInmobiliaria.net_MVC_.Models.Pago

@{
    ViewData["Title"] = "Editar";
        var Inmuebles = (IList<Inmueble>)ViewBag.Inmuebles;
    var Contratos = (IList<Contrato>)ViewBag.Contratos;
        var ContratoAlquiler  = ViewBag.Contrato;
        var InmuebleAlquiler = ViewBag.Inmueble;
}

<h1>Editar</h1>

<h4>Pago</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="PagoId" class="control-label"></label>
                <input asp-for="PagoId" type="hidden" class="form-control" />
                <span asp-validation-for="PagoId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Precio" class="control-label"></label>
                <input asp-for="Precio" class="form-control" />
                
                <span asp-validation-for="Precio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fecha" class="control-label"></label>
                <input asp-for="Fecha" class="form-control" />
                <span asp-validation-for="Fecha" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="nro_pago" class="control-label"></label>
                <input asp-for="nro_pago" class="form-control" />
                <span asp-validation-for="nro_pago" class="text-danger"></span>
      
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Volver</a>
</div>

