@model IEnumerable<royectoInmobiliaria.net_MVC_.Models.Inmueble>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <h1 class="display-4">Bienvenidos a Proyecto Inmobiliaria</h1>


    <div class="row">
        <aside class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" onclick="cargarVistasMenuLateral('_inmueblesDisponibles')">Inmuebles disponibles
                  
                </a>
                <a href="#" class="list-group-item list-group-item-action"  onclick="cargarVistasMenuLateral('_contratosVigentes')">Contratos Vigentes
                    
                </a>
               
            </div>
        </aside>

        <div id="contenedorParcial" class="col-md-9">
            
        </div>
    </div>
</div>