@model IEnumerable<royectoInmobiliaria.net_MVC_.Models.Inmueble>

@{
    ViewData["Title"] = "Home Page";
}


<div class="container-fluid">
    <h1 class="display-4">Bienvenidos a Proyecto Inmobiliaria</h1>


    <div class="row">
        <aside class="col-md-3">
            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action" onclick="cargarVistasMenuLateral('_inmueblesDisponibles')">Inmuebles disponibles
                  
                </a>
                <a href="#" class="list-group-item list-group-item-action"  onclick="cargarVistasMenuLateral('_contratosVigentes')">Contratos Vigentes
                    
                </a>
                  <a href="#" class="list-group-item list-group-item-action"  onclick="cargarVistasMenuLateral('_inmueblesDisponiblesPorFecha')">Buscar Inmuebles Libres
                    
                </a>
            </div>
        </aside>

        <div id="contenedorParcial" class="col-md-9">
            
        </div>
    </div>
</div>
@section Scripts {
    <script>
        function cargarVistasMenuLateral(opcionMenu) {
            $.ajax({
                url: '@Url.Action("CargarVistasMenuLateral", "Home")',
                data: { opcionMenu: opcionMenu },
                success: function (data) {
                    $('#contenedorParcial').html(data);
                }
            });
        }

        $(document).ready(function () {
            cargarVistasMenuLateral('_inmueblesDisponibles');

            $(document).on('submit', '#formFechas', function (event) {
                event.preventDefault();

                var Desde = $('#Desde').val();
                var Hasta = $('#Hasta').val();

                $.ajax({
                    url: '@Url.Action("CargarVistasMenuLateral", "Home")',
                    data: {
                        opcionMenu: "_inmueblesDisponiblesPorFecha",
                        Desde: Desde,
                        Hasta: Hasta
                    },
                    type: "GET",
                    success: function (data) {
                        $('#contenedorParcial').html(data);
                    }
                });
            });
        });
    </script>
}
