@model royectoInmobiliaria.net_MVC_.Models.Usuario

@{
    ViewData["Title"] = "Editar";
    var roles = (IList<Rol>)ViewBag.Roles;
}

<h1>Editar</h1>

<h4>Usuario</h4>
<hr />

 <form method="post" enctype="multipart/form-data" asp-action="Editar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
<div class="row">
    <div class="col-md-4">
        
            <div class="form-group">
             
                <input asp-for="UsuarioId" type="hidden" class="form-control" />
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>           
              <div class="form-group">
                <label class="control-label">Rol</label>
                <select class="form-control" asp-for="RolId">
                    <option value="" disabled selected>Seleccione un Rol..</option>
                    @foreach (var rol in roles)
                    {
                        <option value="@rol.RolId">@rol.Descricion</option>
                    }
                </select>
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Apellido" class="control-label"></label>
                <input asp-for="Apellido" class="form-control" />
                <span asp-validation-for="Apellido" class="text-danger"></span>
            </div>   
        </div> 
           <div class="col-md-4 text-center">
  <h4>Cambio de imagen</h4>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group mt-3">
                    <input asp-for="UsuarioId" class="form-control" type="hidden"/>
                </div>
                @if(Model.foto!=""){
                    <div class="contFoto">
                        <img width="155" height="155" src="@Model.foto" alt="Foto" >
                    </div>
                }else{
                    <p>No hay Foto</p>
                }
                <div class="form-group mt-3">
                    <input asp-for="Fotofisica" type="file" id="formFile" class="form-control"/>
                    <span asp-validation-for="Fotofisica" class="text-danger"></span>
                </div>
   </div>

            
          
 
<div class="col-md-4"> 
    <h4>Cambio de contraseña</h4>
                <div class="form-group mt-3">
                    <label for="Contrasenia" class="control-label">Contrasenia</label>
                    <input for="Contrasenia" class="form-control" placeholder="Contrasenia" type="password"/>
                    <span asp-validation-for="Contrasenia" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label for="NuevaContrasenia" class="control-label">Nueva Contrasenia</label>
                    <input for="NuevaContrasenia" class="form-control" placeholder="Contrasenia Nueva" type="password"/>
                    <span asp-validation-for="Contrasenia" class="text-danger"></span>
                </div>
                <div class="form-group mt-3">
                    <label asp-for="Contrasenia" class="control-label"></label>
                    <input asp-for="Contrasenia" class="form-control" value="" placeholder="Confirmar Contrasenia" type="password"/>
                    <span asp-validation-for="Contrasenia" class="text-danger"></span>
                </div>
     </div>
                
        
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
            </div>
        </form>

<div>
    <a asp-action="Index">Volver</a>
</div>

